<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html dir="ltr" xml:lang="pt-br" lang="pt-br" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>
        Minucurso - Enquetes{% block titulo %} - Página Inicial{% endblock %}
    </title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <link type="text/css" rel="stylesheet" media="screen" href="/media/site.css" />
</head>
<body>
<div class="corpo">
<h1>Minicurso - Enquetes</h1>
<p>
{% block conteudo %}
{% endblock %}
</p>
</div>
</body>
</html>

{# vim: set filetype=htmldjango: #}


